body {
  background-image: linear-gradient(to bottom right, rgb(24, 24, 24), rgb(55, 55, 55));
  color: rgb(255, 239, 176);
  font-family: 'Roboto', sans-serif;
}

#logoContainer {
  display: flex;
  justify-content: space-around;
}

#pageLogo {
  max-width: 50%;
  max-height: auto;
  margin-top: 0em;
}

.hidden {
  display: none
}

#userContainer {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  /* align-items: center; */
}

.class {
  flex-basis: 45%;
  width: 100%;
  margin: 1em;
}

#logoutButton {
  max-height: 3em;
  float: right;
}

#articleForm {
  display: flex;
  flex-direction: column;
}

.event:nth-child(1) {
  font-weight: bold;
  font-size: 2em;
  background-color: goldenrod;
}

button {
  border-radius: .25em;
  border: 0;
  background: #5e6572;
  border-color: #5e6572;
  transition-duration: 0.4s;
  padding: .4em;
  margin: .5em 0 .5em .5em;
}

button:hover {
  background-color: #4281a4;
  color: white;
}