* {
  margin: 0;
  padding: 0;
}

#navBarContainer {
  display: none;
}

body {
  background-image: linear-gradient(to bottom right, rgb(24, 24, 24), rgb(55, 55, 55));
  color: rgb(255, 239, 176);
  font-family: 'Roboto', sans-serif;
}

#logoContainer {
  display: flex;
  justify-content: center;
}

#pageLogo {
  max-width: 50%;
  max-height: auto;
  margin-top: 0em;
  margin-left: 0em;
  margin-right: 0em;
  padding: none;
  
}

.hidden {
  display: none
}

#userContainer {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

#leftColumn {
  width: 45%;
}

#rightColumn {
  width: 45%;
  border-left: 1.5px solid white;
  padding-left: .4em;
}

.class {
  flex-basis: 45%;
  width: 100%;
  margin: 1em;
}

#logoutButton {
  position: relative;
  top: 15%;
  left: 20%;
  margin-right: none;
  margin-top:none;
  padding: none;
  max-height: 2.5em;
  /* z-index: posi; */
}

#articleForm {
  display: flex;
  flex-direction: column;
}

.event:nth-child(1) {
  font-weight: bold;
  font-size: 2em;
  background-color: goldenrod;
}

button {
  border-radius: .25em;
  border: 0;
  background: #5e6572;
  border-color: #5e6572;
  transition-duration: 0.4s;
  padding: .4em;
  margin: .5em 0 .5em .5em;
}

button:hover {
  background-color: #4281a4;
  color: white;
}

@media only screen and (max-width: 600px) {
  body {
    max-width: 90%;
  }
  
  #logoContainter {
    display: none;
  }

  #loginContainer {
    margin-top: 1em;
  }

  #registerContainer {
    margin-top: 1em;
  }

  #navBarContainer {
    display: block;
    background-color: rgb(55, 55, 55);
    position: fixed;
    padding-bottom: 10px;
  }
  #navBarContainer a {
    padding: 0 3.5% 0 3.5%;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 239, 176);
  }
  #userContainer {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .class {
    /* padding-top: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  hr {
    border: none;
    border-top: 1px solid goldenrod;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 100%;
  }
  .article-div {
    border: 1px solid goldenrod;
    padding: 2%;
    margin: 2%;
    border-radius: 3px;
  }
  .article-div h2 {
    display: flex;
    justify-content: center;
  }
  #logoutButton {
    position: fixed;
    left: 80%;
    top: 9%;
    min-height: 2.5em;
  }
  .event {
    font-size: 15px;
    padding: 0 75px 0 75px;
    border: 1px solid goldenrod;
    margin: 4px;
    border-radius: 6px;
  }
  .event:nth-child(1) {
    border-radius: 6px;
    font-size: 20px;
  }
  #taskOutput {
    border: 1px solid goldenrod;
    padding: 2%;
    margin: 2%;
    border-radius: 3px;
  }
  #messageOutput {
    border: 1px solid goldenrod;
    margin: 2%;
    padding: 0 30px 0 30px;
    border-radius: 3px;
  }
  #rightColumn {
    border-left:none;
    width: 100%;
  }
  #leftColumn {
    width: 100%;
  }
}